*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}
header{
    background-image: url(https://www.bfmtv.com/i/0/0/fb1/9649c1cd39d3b82c5336fb5b62218.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.Champ-Elysee a{
    color: white;
    padding: 0px 20px;
    border: 1px solid black;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
}
.Champ-Elysee span{
    color: violet;
     font-weight: bold;
     font-size: 2rem;
}
ul{
    list-style-type: none;
    float: right;
    display: flex;
    margin-top: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 2px;
    text-transform: uppercase;
    border: 1px transparent white;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}
ul li a:hover{
    cursor: pointer;
    color: purple;
    background-color: black;
}
ul li.active a{
    color: black;
}
.principal{
    max-width: 114rem;
    margin: auto;
}
.cardA{
    padding:0px 20px 0px 20px;
    float:right ;
    background-image: url(https://th.bing.com/th/id/R.6a2e453fbcac6610796960ccd9484e0d?rik=GroW8dMMfIpN0g&pid=ImgRaw&r=0);
    width: 270px;
    height: 230px;
    border-radius: 7px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: cubic-bezier();
    margin-left: 500px;
    margin-top: 60px;
    
}
.cardB{
    
        padding:0px 20px 0px 20px;
        float:right ;
        background-image: url(https://th.bing.com/th/id/R.466d87a90ac97fc53d32dd7fd81688df?rik=LPh0Kzt33Kdx9g&riu=http%3a%2f%2fblogs.cotemaison.fr%2fa-vos-agendas%2ffiles%2f2015%2f10%2fIlluminations-Champs-Elysees-2015-2cBlachere-Illumination1.jpg&ehk=n6grSKbLx%2b7llEJiojRCctcTKqpmz6la9XOj%2bx5hjA8%3d&risl=&pid=ImgRaw&r=0);
        width: 270px;
        height: 230px;
        border-radius: 7px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position: center;
        background-size: cover;
        transition: cubic-bezier();
        margin-left: 400px;
        margin-top: 30px;
        
}
.cc{
    text-align: left;
    padding-top: 90px;
    font-size: 30px;
    color: violet;
    margin-bottom: -220px;
    padding-left: 10px;
}
.dd{
    text-align: left;
    padding-top: 230px;
    font-size: 22px;
    color: purple;
    padding-left: 10px;
}
.tt{
    text-align: left;
    margin-right: 150px;
color: yellow;
}
footer{
    display: block;
    margin-top:0px;
    background-color: black;
    color: purple;
    margin-bottom: 0px;
    height: 0px;
}
#world{
color: black;
align-items:center;
display:flex;
justify-content:center;
}
.D{margin-left: 230px;
    color: #fff;
text-decoration: underline;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 12px;
    margin-bottom: 10px;
    background-color: #000;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}

.box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;    
}

.box:hover .imgBx img{
    opacity: 0;
}

.box .content{
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background-color: #fff;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.box:hover .content{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.box .content h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.box .content p{
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
}

.box:hover .content p{
    opacity: 1;
    transition-delay: 0.5s;
}


.hh{
    text-align: left;
    margin-right: 150px;
color: purple;
}
.titre{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.titre h1{
    color: violet;
}
.button{
    position: absolute;
    top: 60%;
    left:50%;
    transform: translate(-50%, -50%)
}
.button a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
}
.ii{
    color: white;
}